<p style="margin:0;padding:0;font-size:14px;font-weight:600;color:#0B212C;line-height:22px">$msg.get("workflow.notifications.cancelprocess.title")</p>
<p style="padding:0;line-height:20px">$content</p>

