<p style="margin:0;padding:0;font-size:14px;font-weight:600;color:#0B212C;line-height:22px">$msg.get("loginattempt.user.subject.title")</p>
<br>
<p style="margin:0;line-height:20px">$msg.get("loginattempt.user.content.wronglogin")</p>
<p style="margin:0;line-height:20px">$msg.get("loginattempt.user.content.contact")</p>
